.container-card {
  width: 14rem;
  height: 17.5rem;
  background-color: #fff;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.image-container {
  height: 75%;
  padding: 5;
}

@media (max-width: 730px) {
  .container-card {
    width: 45%;
    min-width: 14rem;
    min-height: 20rem;
  }
}

@media (max-width: 487px) {
  .container-card {
    min-width: 35%;
    min-height: 15rem;
  }
}

@media (max-width: 430px) {
  .container-card {
    width: 100%;
    min-height: 25rem;
  }
  .image-container {
    height: 80%;
    padding: 5;
  }
}
